body{
    padding: 0;
    margin: 0;
}

.container{
    display:flex;
    justify-content: center;
    left: 0;
    right: 0;
    margin:0 auto;
    text-align: center;
}

#result{
    /* border:1px solid rgba(187, 255, 0, 0.178); */
    background-color:rgba(187, 255, 0, 0.13);
    color: red;
    
}